.main .title{
	font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    color: #444;
    margin-top: 60px;
}
.main p{
	font-size: 14px;
	line-height: 25px;
	width: 960px;
	margin: 10px auto; 
    color: #444;

}
.main span{
	font-size: 14px;
}